<h2>{{ site.title }}</h2>
<nav class="sans">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <p><label class="menu-icon" for="menu-btn">菜单</label></p>
    <ul class="site-nav">
        <li><a href="{{ site.baseurl }}">主页</a></li>
        <li><a href="{{ site.baseurl }}/articles">文章</a></li>
        <li><a href="{{ site.baseurl }}/doc">文档</a></li>
        <li><a href="https://github.com/TabooLib/TabooLib">源码</a></li>
        <li><a href="https://github.com/TabooLib/TabooLib-SDK">SDK</a></li>
    </ul>
</nav>
